@page "/FooterResp"
@inject IStringLocalizer<Resource> Localizer

<style>

</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <div class="footer-logo">
                    <img src="\Images\footerlogo.svg" alt="">
                    <div>
                        <p class="footer-content">
                            @Localizer["FooterInformation"]
                        </p>
                        <p>
                            <img src="\Images\Phone.svg" class="phone-img"alt="" width="30" height="30">
                            <i class="fas fa-call" style="color:white;padding-left: 10px;">888-404-2602</i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">@Localizer["HomeColumn"]</a></li>
                    <li><a href="#">@Localizer["FeedbackColumn"]</a></li>
                    <li><a href="#">@Localizer["SelectBeachCol"]</a></li>
                    <li><a href="#">@Localizer["DealsColumn"]</a></li>
                    <li><a href="#">@Localizer["BeachBuzzCol"]</a></li>
                </ul>
            </div>
            <div class="footer-col">
            
                <ul>
                    <li><a href="#">@Localizer["AboutUscolumn"]</a></li>
                    <li><a href="#">@Localizer["ContactBeachCol"]</a></li>
                    <li><a href="#">@Localizer["BeachGuideMagazinCol"]</a></li>
                    <li><a href="#">@Localizer["OnlineMagazineCol"]</a></li>
                </ul>
            </div>
            <div class="footer-col">
              
                <ul>
                    <li><a href="#">@Localizer["ResortAdminCol"]</a></li>
                    <li><a href="#">@Localizer["TermsConditionsCol"]</a></li>
                    <li><a href="#">@Localizer["PrivacyPolicyCol"]</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><b>@Localizer["ConnectBeachGuideCol"]</b></h4>
                <div class="social-links">
                    <a href="#">
                        <img src="\Images\facebooklogo.svg" alt="" width="30" height="30" style="order: 0;border-radius: 8px;">
                    </a>
                    <a href="#">
                        <img src="\Images\twitterlogo.svg" alt="" width="30" height="30" style="order: 1;border-radius: 8px;">
                    </a>
                    <a href="#">
                        <img src="\Images\ptaglogo.svg" alt="" width="30" height="30" style="order:2;border-radius: 8px;">
                    </a>
                </div>
                    <img src="\Images\FooterBookImg.svg" alt="" class="logo-img">
            </div>
        </div>
    </div>
    <div class="Footer.row.bar">
        <div class="footer.row" style="background-color:white;">
            <p style="color:black; padding-left: 50px;">
                &copy; 2023 My Beach Company. <b>All Rights Reserved</b> &nbsp;&nbsp;
                &nbsp; <input type="text" style="color: #064F9C;font-weight: 800;font-size: 11px;" class="copyBox" placeholder="&copy; PROTECTED BY COPYSCAPE" readonly>
                &nbsp; <span><b>Use of this website constitutes acceptance of the BeachGuide.com</b></span>
            </p>
        </div>
    </div>
</footer>