@page "/rental"

@inject NavigationManager NavigationManager
@inject IStringLocalizer<Resource> Localizer

<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
    <div class="container-fluid">
        @* <div class="container-fluid">*@
        <a class="navbar-brand" href="#">
            <img src="\Images\RentalUnits\image 3.svg" alt="" width="293" height="68">
        </a>
        <div class="telephone">
            <a>
                <img src="\Images\RentalUnits\Phone.svg" alt="" width="20" height="20">
                888-404-2602
            </a>
        </div>

        <button class="navbar-toggler" type="button" @onclick="ToggleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @(isNavbarOpen ? "show" : "")">
            <ul class="navbar-nav">
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">@Localizer["SelectBeachname"]</a>
                </li>
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">@Localizer["BeachABuzzName"]</a>
                </li>
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">@Localizer["WishlistName"]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="beach-guide">
    <div class="beach-guide-box">
        <div class="beach-guide-heading">
            <h3 class="gulf-Shores-title">@Localizer["GulfAlabamaHeading"]</h3>
        </div>
        <div class="beach-guide-options">
            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["Arealabel"]</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn2">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["PropertyLabel"]</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["RentalunitLabel"]</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["Checkinlabel"]</label>
                    <label class="beach-guide-label2">02/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["CheckoutLabel"]</label>
                    <label class="beach-guide-label2">20/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">@Localizer["GuestLabel"]</label>
                    <label class="beach-guide-label2">2 adults,2 childrens</label>
                </div>
            </div>

            <div class="beach-guide-btn7">
                <div class="search-area">
                    <div class="serch-area">
                        <img src="\Images\RentalUnits\Searchlogo2.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navslides-box">
    <div class="navslides-box1">
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["Propertiesinfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["Rentalunitinfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["InformationNavslide"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["RestaurantsInfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["Golfinfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["Fishinginfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">@Localizer["Eventsinfo"]</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop-8" href="">@Localizer["OtherThingstodoinfo"]</a>
        </div>
    </div>
</div>

<div class="shores-heading">
    <div class="shores-link">
        <a href="" style="color:#459DC9 ">Home&gt;</a>&nbsp;@Localizer["VacationpropHeading"]
    </div>
</div>


<div class="gulf-hedding">
    <div class="gulf-heading2">
        <div class="gulf-heading3">
            <h1 class="gulf-title">@Localizer["Albamaheading"]</h1>
            <div class="moreInfo">
                <a class="gulf-inform">@Localizer["MoreInfoDetails"]</a>
            </div>
        </div>
    </div>
</div>

<div class="sort-box">
    <div class="sort-option-box">
        <label class="flex: none;order: 0;flex-grow: 0">@Localizer["SorByButton"]</label>
        <select class="option-box">
            <option value="">@Localizer["sortingBox"]</option>
        </select>
        <div class="pagination-box">
            <label style="flex: none;order: 0;flex-grow: 0 ;">@Localizer["pagiantionBox"]</label>
        </div>
    </div>
</div>



<div class="container-body">
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>
          
                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit2.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit3.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit4.svg" alt="Image" class="waterspace-img">
                </div>


                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                        <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit5.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit7.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="card-heding">
                    <h4>@Localizer["WaterspaceHeading"]</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit8.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                    <label class="card-details-text">@Localizer["peoplecount"]</label>
                    <label class="card-details-text3">@Localizer["Bedroomcount"]</label>
                    <label class="card-details-text2">@Localizer["Bathroominfo"]</label>
                    </div>
                    <div class="card-text">
                    <p>@Localizer["cardtextdetails"]</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                            <label class="icon-label">@Localizer["GymInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                            <label class="icon-label">@Localizer["PoolInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">@Localizer["DinnerInfo"]</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                            <label class="icon-label">@Localizer["GolfDetails"]</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</div>

<Footer/>


@code {
    private bool isNavbarOpen = false;

    private void ToggleNavbar()
    {
        isNavbarOpen = !isNavbarOpen;
    }

    private string GetNavLinkActive(string path)
    {
        return NavigationManager.Uri.Contains(path, StringComparison.InvariantCultureIgnoreCase) ? "active" : "";
    }
}
